<style>
    body {
        font-family: Papyrus, Times, serif;
    }
    .header {
        background-color: blue;
        padding: 10px;
        color: white;
    }
    .item {
        background-color: darkorange;
        color: rgb(0, 0, 0);
        margin: 10px;
        padding: 20px;
        max-width: 1100px;
        border-radius: 20px;
    }
    .headline {
        size: 75pt;
        text-align: center;
    }
    .content {
        text-align: left;
    }
    .date {
        text-align: right;
    }

    .tg  {
        border-collapse:collapse;
        border-spacing:0;
    }
    .tg td{
        border-color:black;
        border-style:solid;
        border-width:1px;
        font-family:Arial, sans-serif;
        font-size:14px;
        overflow:hidden;
        padding:10px 5px;
        word-break:normal;
    }
    .tg th{
        border-color:black;
        border-style:solid;
        border-width:1px;
        font-family:Arial, sans-serif;
        font-size:14px;
        font-weight:normal;
        overflow:hidden;
        padding:10px 5px;
        word-break:normal;
    }
    .tg .tg-0lax{
        text-align:left;
        vertical-align:top;
    }
</style>